<a href="https://colab.research.google.com/github/Olfeng-xalaz/Fallstudie_SCM/blob/Test1/Fallstudie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
# pip als Paketmanager
! pip install -q pyscipopt
! pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [71]:
import pandas as pd
from pyscipopt import Model, quicksum

# Optimierungsmodell zur Elektrifizierung der Logistik

### Import der CSV Dateien

In [72]:
# Findet Pfad zu DataCSV relativ zur Notebook Datei
! git clone https://github.com/Olfeng-xalaz/Fallstudie_SCM.git

fatal: destination path 'Fallstudie_SCM' already exists and is not an empty directory.

In [73]:
! ls Fallstudie_SCM/DataCSV

chargers.csv  diesel_trucks.csv  electric_trucks.csv  routes.csv

In [74]:
folder = "Fallstudie_SCM/DataCSV"

In [75]:
chargers = pd.read_csv(f"{folder}/chargers.csv", sep=";")

In [76]:
chargers.head()

    charger_model  capex_yearly  opex_yearly  max_power  charging_spots
0   Alpitronic-50          3000         1000         50               2
1  Alpitronic-200         10000         1500        200               2
2  Alpitronic-400         16000         2000        400               2

In [77]:
print(chargers.columns.tolist())

['charger_model', 'capex_yearly', 'opex_yearly', 'max_power', 'charging_spots']

In [78]:
dtrucks_specs = pd.read_csv(f"{folder}/diesel_trucks.csv", sep=";")

In [79]:
dtrucks_specs.head()

,truck_model,capex_yearly,opex_yearly,avg_diesel_per_100km,kfz_yearly,gross_vehicle_weight,emission_class,co2_emission_class
0,ActrosL,24000,6000,26,556,40,EURO 6,1

In [80]:
etrucks_specs = pd.read_csv(f"{folder}/electric_trucks.csv", sep=";")

In [81]:
etrucks_specs.head()

,truck_model,capex_yearly,opex_yearly,avg_energy_kWh_per_100km,thg_yearly,max_power,soc_max_kWh
0,eActros600,60000,6000,110,1000,400,621
1,eActros400,50000,5000,105,1000,400,414

In [82]:
routes = pd.read_csv(f"{folder}/routes.csv", sep=";")

In [83]:
routes.head()

  route_id  route_name  distance_total  distance_toll starttime endtime
0      t-4  Nahverkehr             250            150     06:45   17:15
1      t-5  Nahverkehr             250            150     06:30   17:00
2      t-6  Nahverkehr             250            150     06:00   16:30
3      s-1   Ditzingen             120             32     05:30   15:30
4      s-2   Ditzingen             120             32     06:00   16:00

### Indexmengen

In [84]:
#Erstellen einer Modellinstanz
scip = Model()

In [85]:
A = [] # Menge der Auftr√§ge
T = [] # Transportmittel
L = [] # Ladestationen

### Parameter

In [86]:
# Chargers
chargers.set_index(["charger_model"], inplace=True)

### Entscheidungsvariablen

### Zielfunktion

### Restriktionen

### Berechnung des Ergebnisses