<a href="https://colab.research.google.com/github/Olfeng-xalaz/Fallstudie_SCM/blob/main/Fallstudie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# pip als Paketmanager
! pip install -q pyscipopt
! pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/marcelklinger/Library/Python/3.13/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /Users/marcelklinger/Library/Python/3.13/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [7]:
import pandas as pd
from pyscipopt import Model, quicksum

# Optimierungsmodell zur Elektrifizierung der Logistik

### Import der CSV Dateien

In [ ]:
# Findet Pfad zu DataCSV relativ zur Notebook Datei
import os
folder = os.path.join(os.path.dirname(__file__), "DataCSV") if "__file__" in dir() else "DataCSV"

In [22]:
chargers = pd.read_csv(f"{folder}/chargers.csv", sep=";")

In [32]:
chargers.head()

    charger_model  capex_yearly  opex_yearly  max_power  charging_spots
0   Alpitronic-50          3000         1000         50               2
1  Alpitronic-200         10000         1500        200               2
2  Alpitronic-400         16000         2000        400               2

In [29]:
dtrucks_specs = pd.read_csv(f"{folder}/diesel_trucks.csv", sep=";")

In [33]:
dtrucks_specs.head()

,truck_model,capex_yearly,opex_yearly,avg_diesel_per_100km,kfz_yearly,gross_vehicle_weight,emission_class,co2_emission_class
0,ActrosL,24000,6000,26,556,40,EURO 6,1

In [25]:
etrucks_specs = pd.read_csv(f"{folder}/electric_trucks.csv", sep=";")

In [34]:
etrucks_specs.head()

,truck_model,capex_yearly,opex_yearly,avg_energy_kWh_per_100km,thg_yearly,max_power,soc_max_kWh
0,eActros600,60000,6000,110,1000,400,621
1,eActros400,50000,5000,105,1000,400,414

In [26]:
routes = pd.read_csv(f"{folder}/routes.csv", sep=";")

In [35]:
routes.head()

  route_id  route_name  distance_total  distance_toll starttime endtime
0      t-4  Nahverkehr             250            150     06:45   17:15
1      t-5  Nahverkehr             250            150     06:30   17:00
2      t-6  Nahverkehr             250            150     06:00   16:30
3      s-1   Ditzingen             120             32     05:30   15:30
4      s-2   Ditzingen             120             32     06:00   16:00

### Indexmengen

In [ ]:
#Erstellen einer Modellinstanz
scip = Model()

In [ ]:
A = [] # Menge der AuftrÃ¤ge
T = [] # Transportmittel
L = [] # Ladestationen

### Parameter

In [37]:
# Chargers
chargers.set_index(["charger_model"], inplace=True)
chargercosts = chargers.to_dict("dict")["Chargerkosten"]

KeyError: 'Chargerkosten'

### Entscheidungsvariablen

### Zielfunktion

### Restriktionen

### Berechnung des Ergebnisses